[Hook Scripts]
cros lint = ../../chromite/bin/cros lint ${PRESUBMIT_FILES}
gnlint = ./common-mk/gnlint.py ${PRESUBMIT_FILES}
gnlint unittest = ./common-mk/gnlint_unittest.py
check-readme.py = ./common-mk/check-readme.py
check-owners = ./common-mk/check-owners.py

[Hook Overrides]
clang_format_check: true
cros_license_check: true
filepath_chartype_check: true
long_line_check: true
project_prefix_check: true
stray_whitespace_check: true
cargo_clippy_check: true

[Hook Overrides Options]
# Enforce formatting of subprojects. If you consider adding a project, run
#   clang-format -i -style=file $(find <project>/ -name '*.h' -o -name '*.cc')
# first, check in the changes and then add it to this list.
clang_format_check:
  arc/
  attestation/
  authpolicy/
  avtest_label_detect/
  biod/
  bluetooth/
  buffet/
  camera/
  cfm-device-updater/
  chaps/
  crash-reporter/
  cros-disks/
  crosdns/
  croslog/
  cups_proxy/
  debugd/
  dev-install/
  diagnostics/
  dlcservice/
  goldfishd/
  hardware_verifier/
  hermes/
  hwsec-test-utils/
  image-burner/
  imageloader/
  init/
  installer/
  kerberos/
  libchromeos-ui/
  libcontainer/
  libipp/
  libpasswordprovider/
  libtpmcrypto/
  login_manager/
  lorgnette/
  metrics/
  mist/
  ml_benchmark/
  modemfwd/
  ocr/
  oobe_config/
  p2p/
  permission_broker/
  policy_utils/
  power_manager/
  print_tools/
  run_oci/
  runtime_probe/
  screenshot/
  shill/
  smbfs/
  smbprovider/
  smogcheck/
  system_api/
  timberslide/
  touch_firmware_calibration/
  typecd/
  tpm_manager/
  verity/
  vm_tools/
  vpn-manager/
  webserver/
  wifi-testbed/

cros_license_check:
  --exclude_regex=(/testdata/|^sepolicy/policy/|^sepolicy/shared/|^verity/)

stray_whitespace_check:
  --exclude_regex=/testdata/

long_line_check:
  --exclude_regex=(/testdata/|^sepolicy/policy/|^sepolicy/shared/)

cargo_clippy_check:
  --project=arc/vm/libvda/rust/
  --project=libchromeos-rs/
