# Copyright 2020 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

gettid: 1
read: 1
epoll_wait: 1
lstat: 1
write: 1
epoll_ctl: 1
fstat: 1
openat: 1
close: 1
sendto: 1
getrandom: 1
recvmsg: 1
getdents: 1
readlinkat: 1
stat: 1
access: 1
getuid: 1
geteuid: 1
getgid: 1
getegid: 1
pipe2: 1
brk: 1
setsockopt: 1
lseek: 1
connect: 1
epoll_create1: 1
getpid: 1
socket: arg0 == AF_UNIX || arg0 == AF_NETLINK
bind: 1
getsockname: 1
restart_syscall: 1
exit: 1
exit_group: 1
rt_sigreturn: 1
poll: 1
rt_sigprocmask: 1
signalfd4: 1
sendmsg: 1
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
fcntl: 1
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
futex: 1
clock_getres: 1
getresuid: 1
getresgid: 1
munmap: 1
