# Copyright 2020 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

brk: 1
close: 1
connect: 1
exit_group: 1
fstat: 1
getdents: 1
gettid: 1
lseek: 1
openat: 1
read: 1
sendto: 1
socket: arg0 == AF_UNIX
stat: 1
write: 1

# For brillo::kLogToStderrIfTty. isatty(0) calls ioctl(0, TCGETS, *).
ioctl: arg0 == 0 && arg1 == TCGETS
