# This config file disables some of the ChromiumOS source style checks.
# Comment out the disable-flags for any checks you want to leave enabled.

[Hook Overrides]
clang_format_check: true
stray_whitespace_check: true
long_line_check: true
cros_license_check: false
